<div style="width: 500mm; height: 200px;" > 
    <div *ngIf="invoices.length > 0">
      
      <div *ngFor="let pageIndex of getPageIndexes()">
        <hr>
        <div  #printPDF style="background: green; width: 500px; height: 400px" >aaaa</div>
         <!-- <app-a4-page [invoiceList]="getInvoicesForPage(pageIndex)"></app-a4-page>  -->
      </div>
    </div>
    <h1>Hello, PDF!</h1>
    <p>This is a sample HTML content converted to PDF.</p>
  </div>
  
  <button (click)="exportToPdf()">Export to PDF</button>
